name: 02 - Workflow Events
on:
  push:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0/5 0 * * *' # Runs every day at midnight
  workflow_dispatch:
    
jobs:
  echo-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "TRIGERED by a(n) ${{ github.event_name }} event."
