name: 04 - Using Actions
on: push

jobs:
  buld:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./04-using-actions/react-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
      - name: Run Unit Tests
        run: npm run test