name: 07 - Using Expressions
on:
    push:
    workflow_dispatch:
        inputs:
            debug:
                type: boolean
                default: false

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: '[debug] Print start-up data'
              if: ${{ inputs.debug }}
              run: |
                echo "Event Name: ${{ github.event_name }}"
                echo "Ref: ${{ github.ref }}"
                echo "SHA: ${{ github.sha }}"
                echo "Actor: ${{ github.actor }}"
                echo "Workflow: ${{ github.workflow }}"
                echo "Runner OS: ${{ runner.os }}"
                echo "Run ID: ${{ github.run_id }}"
                echo "Run Number: ${{ github.run_number }}"
            - name: '[debug] Print when triggered from main'
              if: ${{ inputs.debug && github.ref == 'refs/heads/main' }}
              run: echo "This workflow was triggered from the main branch"
            - name: Greeting
              run: echo "Hello world"