name: 08 - Using Variables
on: 
    push:
    workflow_dispatch:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Print Event Variables
              env:
                STEP_VAR: 'This is a step variable'
              run: |
                echo "Step env var: ${{ env.STEP_VAR }}"
    